<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    deeeevuda

    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>

</ActionBar>

<ScrollView>
<GridLayout rows="60,*,*" class="page page-content">
    <!-- <Label [hint]="pickerHint"  text="tap on the picker to choose items"></Label>
    <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
    <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>  -->

    <StackLayout row="0" background="#00FF00">
        
        <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
        <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
        <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
        <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>

    </StackLayout>

    <StackLayout row="1" rowSpan="2" background="#FF0000">
        
            <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
            <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
            <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
            <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
    
        </StackLayout>
    
        <StackLayout row="2"  background="#0000FF">
        
                <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
                <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
                <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
                <Label [hint]="pickerHint" text="tap on the picker to choose items"></Label>
        
            </StackLayout>


    <custom-picker  [selectedIndex]="index" [pickerItems]="pokemons" (selectedIndexChanged)="selectedIndexChanged($event)"></custom-picker>
</GridLayout>
</ScrollView>